@import "src/styles.scss";
.holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 15px;
    max-height: 70vh;
    @include column-lg-break {
        padding: 30px;
    }
}
.inner-holder {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: 50%;
    min-height: 50%;
    border: 2px solid black;
    border-radius: 7.5px;
    font-size: 1rem;
    text-align: left;
    gap: 15px;
    padding: 20px;
}
.department-list {
    overflow: scroll;
}
input {
    width: 300px;
    height: 35px;
    border: 1px solid $lightGrey;
    border-radius: 5px;
}

.button-holders {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}
.invite-multiple {
    width: 100%;
}
h2 {
    margin: 0;
}
.department-item {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 15px;
    border-radius: 7.5px;
    font-size: 1rem;
    text-align: left;
    cursor: pointer;
    &:hover {
        background-color: $lightGrey;
    }
}
.button-holder {
    display: flex;
    justify-content: space-between;

    gap: 15px;
    min-width: 50%;
}
