@import "src/styles.scss";
.holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 70vh;
    padding: 30px;
    @include column-lg-break {
        padding: 30px;
    }
}

.button-holders {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

