@import "src/styles.scss";
.holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 70vh;
    @include column-lg-break {
        padding: 30px;
    }
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
input {
    width: 300px;
    height: 35px;
    border: 1px solid $lightGrey;
    border-radius: 5px;
}

.button-holders {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}

mat-error {
  color: #f44336;
  font-size: 12px;
}


