<h1 class="page-header">Cycle Check History</h1>
<div class="table-header">
    <div>

    </div>

    <img src="/assets/ford-logo.png" />

</div>
<div class="table-holder">


</div>
<div class="paginator-holder">
    <button [disabled]="activePlantId == '0'" [routerLink]="'/dashboard/cycle-check/create/step-one'" type="submit"
        class="general-button first-button">Start Cycle Count</button>
    <mat-paginator (page)="pageChanged($event)" #paginator [pageSizeOptions]="[10, 15, 20]" [pageSize]="pageSize"
        aria-label="Select page of periodic elements" [length]="length">
    </mat-paginator>
    <button type="submit" class="general-button">View Event Log</button>
</div>
<p-confirmDialog #cd [style]="{width: '30vw'}">
    <ng-template pTemplate="header">
        <h3></h3>
    </ng-template>

    <ng-template pTemplate="footer">
        <button class="submit-button" type="button" label="No" (click)="cd.reject()">No</button>
        <button class="submit-button" type="button" label="Yes" (click)="cd.accept()">Yes</button>
    </ng-template>
</p-confirmDialog>

