@import "src/styles.scss";
.footer-holder {
    display: flex;
    justify-content: space-between;
}
.department {
    max-width: 100%;
    background-color: $darkGrey;
    padding: 10px;
    border: $border;
    margin: -0.75px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}
input {
    width: 200px;
    height: 35px;
    border: 1px solid $lightGrey;
    border-radius: 5px;
}
.add-department-button {
    background-color: $lightBlue;
    border: none;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 7.5px 10px;
    margin: 7.5px;

    margin-left: auto;
    cursor: pointer;
    font-size: 1.5rem;
}
.remove-department-button {
    background-color: $lightBlue;
    border: none;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 7.5px 10px;
    cursor: pointer;
    margin-left: auto;
    font-size: 1.5rem;
}
.container-holder {
    display: flex;
    flex-direction: column;
}
