<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>

        <input formControlName="email" type="email" class="form-control" id="email-input" aria-describedby="emailHelp"
            required />
        <mat-error class="field-validation-error" *ngIf="
            displayValidationErrors ||
            userForm.controls['email'].dirty ||
            userForm.controls['email'].touched
          ">
            <span *ngIf="userForm.controls['email'].hasError('required')">Email is required</span>
        </mat-error>
    </div>

    <div>
        <input formControlName="password" type="password" class="form-control" id="password-input" required />
        <mat-error class="field-validation-error" *ngIf="
            userForm.controls['password'].errors &&
            (displayValidationErrors ||
              userForm.controls['password'].dirty ||
              userForm.controls['password'].touched)
          ">
            <span *ngIf="userForm.controls['password'].hasError('required')">Password is required</span>
        </mat-error>
    </div>
    <button type="submit" class="submit-button">Login</button>

    <!-- <div class="button-holder">
      
        <a routerLink="/account/reset-password">Forgot Password?</a>
    </div> -->

    <p-toast position="bottom-center"></p-toast>
</form>