<app-ford-container title="2. Enter Stock Information">
  <div class="holder">
    <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">

      <div>
        <input placeholder="Market Location" formControlName="marketLocation" type="marketLocation" class="form-control"
        id="marketLocation-input" aria-describedby="marketLocationHelp" required />
        <mat-error class="field-validation-error" *ngIf="
        displayValidationErrors ||
        stockForm.controls['marketLocation'].dirty ||
        stockForm.controls['marketLocation'].touched
      ">
        <span *ngIf="stockForm.controls['marketLocation'].hasError('required')">Market Location is required</span>
      </mat-error>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Department</mat-label>
          <mat-select formControlName="department">
            <mat-option *ngFor="let department of departmentNames" [value]="department">{{department}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error class="field-validation-error" *ngIf="
          displayValidationErrors ||
          stockForm.controls['department'].dirty ||
          stockForm.controls['department'].touched
        ">
          <span *ngIf="stockForm.controls['department'].hasError('required')">Department is required</span>
        </mat-error>
      </div>

      <div class="button-holders">
        <button type="button" [routerLink]="'/dashboard/stock/create/step-one'" class="submit-button">Back</button>
        <button type="submit" class="submit-button">Next</button>
      </div>

    </form>
  </div>
</app-ford-container>
