<app-ford-container title="2. Enter Stock Information">
  <div class="holder">
    <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">

      <div>
        <input placeholder="Market Location" formControlName="marketLocation" type="marketLocation" class="form-control"
          id="marketLocation-input" aria-describedby="marketLocationHelp" required autocomplete="off" />
        <mat-error class="field-validation-error" *ngIf="
        displayValidationErrors ||
        stockForm.controls['marketLocation'].touched && !stockForm.controls['marketLocation'].dirty
      ">
          <span *ngIf="stockForm.controls['marketLocation'].hasError('required')">Market Location is required</span>
        </mat-error>
      </div>

      <div>
        <div *ngIf="departments.length > 0" class="dropdown">
          <p-dropdown formControlName="department" (onChange)="changeDepartment($event)" placeholder="Select Department"
            optionLabel="departmentName" [options]="departments" [(ngModel)]="selectedDepartment"></p-dropdown>
        </div>
        <mat-error class="field-validation-error" *ngIf="
          displayValidationErrors ||
          stockForm.controls['department'].touched && !stockForm.controls['department'].dirty
        ">
          <span *ngIf="stockForm.controls['department'].hasError('required')">Department is required</span>
        </mat-error>
      </div>

      <div class="button-holders">
        <button type="button" [routerLink]="'/dashboard/stock/create/step-one'" class="submit-button">Back</button>
        <button type="submit" class="submit-button">Next</button>
      </div>

    </form>
  </div>
</app-ford-container>
