@import "src/styles.scss";

.holder {
  min-width: 30vw;

  min-height: 10vh;

  overflow: hidden;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}

.content {
  display: inline-block;
  margin: 10px;
  width: 100%;
  text-align: center;
}

.button-holders {
  display: inline-block;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
  margin: 0 auto;
}

img {
  width: 30%;
}
