@import "src/styles.scss";
img {
    width: 150px;
}
.table-holder {
    min-height: 70vh;
    background-color: $lightGrey !important;
    width: 100%;
    border: $border;
}
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}
.paginator-holder {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $grey !important;
    border-bottom: 0.75px solid black;
    border-right: 0.75px solid black;
    border-left: 0.75px solid black;
    @include column-lg-break {
        flex-direction: column;
        gap: 20px;
    }
}
mat-paginator {
    background-color: $grey !important;
    width: 50%;
    @include column-lg-break {
        order: 0;
        width: 90%;
    }
}
.mat-column-name {
    display: inline-flex;
    width: 40%;
    max-width: 40%;
}
i {
    padding-right: 5.5px;
}
.first-button {
    @include column-lg-break {
        order: 1;
    }
}
.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 7.5px;
}
.fa-magnifying-glass {
  padding-left: 7.5px;
  color: $darkGrey;
}

// :host ::ng-deep {

//   .stock-name {
//       font-size: 1.5rem;
//       font-weight: 700;
//   }

//   .stock-market-location {
//       margin: 0 0 1rem 0;
//   }

//   .stock-grid-item {
//       margin: .5em;
//       border: 1px solid #dee2e6;

//       .stock-grid-item-top,
//       .stock-grid-item-bottom {
//           display: flex;
//           align-items: center;
//           justify-content: space-between;
//       }

//       img {
//           width: 30%;
//           height: 20%;
//           box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
//           margin: 2rem 0;
//       }

//       .stockgrid-item-content {
//           text-align: center;
//       }
//   }
// }

// .card {
//   padding: 2rem;
//   box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
//   border-radius: 4px;
//   margin-bottom: 2rem;
// }
:host ::ng-deep {
    .p-dropdown {
        width: 14rem;
        font-weight: normal;
    }

    .stock-name {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .stock-market-location {
        margin: 0 0 1rem 0;
    }

    .stock-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }

    .stock-category {
        font-weight: 600;
        vertical-align: middle;
    }

    .stock-list-item {
        display: flex;
        align-items: center;
        padding: 1rem;
        width: 100%;

        img {
            width: 150px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin-right: 2rem;
        }

        .stock-list-detail {
            flex: 1 1 0;
        }

        .p-rating {
            margin: 0 0 .5rem 0;
        }

        .stock-price {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: .5rem;
            align-self: flex-end;
        }

        .stock-list-action {
            display: flex;
            flex-direction: column;
        }

        .p-button {
            margin-bottom: .5rem;
        }
    }

    .stock-grid-item {
        margin: .5em;
        border: 1px solid #dee2e6;

        .stock-grid-item-top,
        .stock-grid-item-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        img {
            width: 75%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin: 2rem 0;
        }

        .stock-grid-item-content {
            text-align: center;
        }

        .stock-price {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
	:host ::ng-deep .stock-list-item {
		flex-direction: column;
		align-items: center;

		img {
			width: 75%;
			margin: 2rem 0;
		}

		.stock-list-detail {
			text-align: center;
		}

		.stock-price {
			align-self: center;
		}

		.stock-list-action {
			display: flex;
			flex-direction: column;
		}

		.stock-list-action {
			margin-top: 2rem;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
	}
}
