@import "src/styles.scss";

html,
body {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.3rem !important;
    min-height: 100vh;
    width: 100%;

}

.content {
    padding: 10px 30px;
    margin: 0 auto;
    min-width: 80vw;
    @include column-lg-break {
        padding: 10px 15px;
    }
}
