@import "src/styles.scss";

html,
body {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.3rem !important;
    max-height: 100vh;
    width: 100%;
    overflow: scroll;
}

.content {
    padding: 10px 30px;
    margin: 0 auto;
    min-width: 80vw;
    overflow: scroll;
    @include column-lg-break {
        padding: 10px 15px;
    }
}
.forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black !important;
    background-color: orange !important;
}
