@import "src/styles.scss";
img {
    width: 150px;
}
.table-holder {
    min-height: 70vh;
    background-color: $lightGrey !important;
    width: 100%;
    border: $border;
}
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.paginator-holder {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $grey !important;
    border-bottom: 0.75px solid black;
    border-right: 0.75px solid black;
    border-left: 0.75px solid black;
    @include column-lg-break {
        flex-direction: column;
        gap: 20px;
    }
}
.mat-column-name {
    width: 40%;
    max-width: 40%;
}
i {
    padding-right: 5.5px;
}
.first-button {
    @include column-lg-break {
        order: 1;
    }
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 7.5px;
}
.fa-magnifying-glass {
    padding-left: 7.5px;
    color: $darkGrey;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

th, td {
  flex: 1;
  padding: 10px;
  text-align: left;
}

//the 4th and 5th th and td should be text-align: center
th:nth-child(4), td:nth-child(4), th:nth-child(5), td:nth-child(5) {
  text-align: center;
}

tr {
  border: solid black 1px;
}

td {
  background-color: rgb(217, 217, 217);
}

.stepper {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.stepper button {
  background-color: #47A8E5;
  color: white;
  border: none;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  font-size: 26px;
}

.stepper button:hover {
  background-color: #133A7C;
}

.help-btn {
  border: 3px solid rgba(0, 0, 0, .5);
  background-color: transparent;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.help-btn:hover {
  border: 3px solid rgba(0, 0, 0, .5);
  background-color: transparent;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  //box shadow
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .5);
}

.help-btn::before {
  content: "?";
  color: rgba(0, 0, 0, .6);
  font-size: 26px;
  font-weight: bold;
}

input {
  width: 25%;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


caption {
  text-align: left;
  padding: 10px;
  font-weight: bold;
  background-color: #999;
}

.spacer {
  height: 20px;
}

