@import "~primeicons/primeicons.css";
/*******************
  * Global Style Variables  *
  *******************/

$darkBlue: #133a7c;
$lightBlue: #2a6bac;
$darkGrey: #d9d9d9;
$lightGrey: #f1f1f1;

/*******************
    * Breakpoints  *
    *******************/
@mixin very-small-screens {
    @media (max-width: 200px) {
        @content;
    }
}
@mixin mobile {
    @media (min-width: 200px) and (max-width: 480px) {
        @content;
    }
}
@mixin tablets {
    @media (min-width: 481px) and (max-width: 768px) {
        @content;
    }
}
@mixin small-screens {
    @media (min-width: 769px) and (max-width: 1024px) {
        @content;
    }
}
@mixin column-lg-break {
    @media (min-width: 0px) and (max-width: 992px) {
        @content;
    }
}
@mixin column-sm-break {
    @media (min-width: 0px) and (max-width: 500px) {
        @content;
    }
}
@mixin column-very-sm-break {
    @media (min-width: 0px) and (max-width: 300px) {
        @content;
    }
}

@mixin large-screens {
    @media (min-width: 1025px) {
        @content;
    }
}
@mixin side-bar-mobile {
    @media (max-width: 1350px) {
        @content;
    }
}

/*******************
    * Global Normalize Fixes  *
    *******************/

html,
body {
    height: 100%;
}
body {
    margin: 0;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.sidebar-header {
    height: 90px;
    padding: 10px;
    background-image: url("/assets/ford-logo.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-opener {
    align-self: flex-end;
    justify-self: center;
    padding-left: 10px;

    text-align: center;
    background-color: $darkBlue;
}
// i {
//     font-size: 40px !important;
//     padding-bottom: 20px !important;
//     color: transparent !important;
//     -webkit-box-flex: 1;
//     flex: 1;
//     -webkit-text-stroke: 2px white;
// }

.sidebar-container-end a {
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 0px !important;
    padding: 10px;
}
.sidebar-container lib-sidebar-item .menu-item {
    padding: 7px;
}
.sidebar-container a .menu-icon-pointer {
    text-align: center;
}
.dock {
    padding: 5px !important;
    min-width: 50px !important;
}
.menu-icon-item {
    padding-bottom: 5px;
}
