<h1 class="page-header">Edit Department Information</h1>
<app-ford-container>
    <div class="holder">
        <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
            <div>

                <input placeholder="Department Name" formControlName="departmentName" type="departmentName"
                    class="form-control" id="departmentName-input" aria-describedby="departmentNameHelp" required />
                <mat-error class="field-validation-error" *ngIf="
            displayValidationErrors ||
            !departmentForm.controls['departmentName'].dirty &&
            departmentForm.controls['departmentName'].touched
          ">
                    <span *ngIf="departmentForm.controls['departmentName'].hasError('required')">Department Name is
                        required</span>
                </mat-error>
            </div>

            <button type="button" class="submit-button delete-button" (click)="deleteDepartment(departmentId)">Delete Department</button>

            <div class="button-holders">


                <button type="button" [routerLink]="'/dashboard/departments/list'" class="submit-button">Cancel</button>
                <button type="submit" class="submit-button">Update</button>
            </div>
            <!-- <div class="button-holder">

        <a routerLink="/account/reset-departmentLocation">Forgot departmentLocation?</a>
    </div> -->

            <p-toast position="bottom-center"></p-toast>
        </form>
    </div>
</app-ford-container>
<p-confirmDialog #cd [style]="{width: '30vw'}">
  <ng-template pTemplate="header">
      <h3></h3>
  </ng-template>

  <ng-template pTemplate="footer">
      <button class="submit-button" type="button" label="No" (click)="cd.reject()">No</button>
      <button class="submit-button" type="button" label="Yes" (click)="cd.accept()">Yes</button>
  </ng-template>
</p-confirmDialog>
