<h1 class="page-header">Edit Plant Information</h1>
<app-ford-container>
    <div class="holder">
        <form [formGroup]="plantForm" (ngSubmit)="onSubmit()">
            <div>

                <input placeholder="Plant Name" formControlName="plantName" type="plantName" class="form-control"
                    id="plantName-input" aria-describedby="plantNameHelp" required autocomplete="off" />
                <mat-error class="field-validation-error" *ngIf="
            displayValidationErrors ||
            !plantForm.controls['plantName'].dirty &&
            plantForm.controls['plantName'].touched
          ">
                    <span *ngIf="plantForm.controls['plantName'].hasError('required')">Plant Name is required</span>
                </mat-error>
            </div>

            <div>
                <input placeholder="Plant Location" formControlName="plantLocation" type="plantLocation"
                    class="form-control" id="plantLocation-input" required autocomplete="off" />
                <mat-error class="field-validation-error" *ngIf="
            plantForm.controls['plantLocation'].errors &&
            (displayValidationErrors ||
              !plantForm.controls['plantLocation'].dirty &&
              plantForm.controls['plantLocation'].touched)
          ">
                    <span *ngIf="plantForm.controls['plantLocation'].hasError('required')">Plant Location is
                        required</span>
                </mat-error>
            </div>

            <button type="button" class="submit-button delete-button" (click)="deletePlant(plantId)">Delete Plant</button>

            <div class="button-holders">


                <button type="button" [routerLink]="'/dashboard/plants/list'" class="submit-button">Cancel</button>
                <button type="submit" class="submit-button">Update</button>
            </div>
            <!-- <div class="button-holder">

        <a routerLink="/account/reset-plantLocation">Forgot plantLocation?</a>
    </div> -->

            <p-toast position="bottom-center"></p-toast>
        </form>
    </div>
</app-ford-container>
<p-confirmDialog #cd [style]="{width: '30vw'}">
  <ng-template pTemplate="header">
      <h3></h3>
  </ng-template>

  <ng-template pTemplate="footer">
      <button class="submit-button" type="button" label="No" (click)="cd.reject()">No</button>
      <button class="submit-button" type="button" label="Yes" (click)="cd.accept()">Yes</button>
  </ng-template>
</p-confirmDialog>
