<h1 class="page-header">Stock Information</h1>
<app-ford-container *ngIf="stock" title="{{stock.name}}">
  <div class="holder">

    <div class="card">
      <img [src]="stock.imageURL" alt="{{stock.name}}">
      <mat-card-title>Department: {{departmentName}}</mat-card-title>
      <mat-card-title>Market Location: {{stock.marketLocation}}</mat-card-title>
      <mat-card-title>Quantity per Tote: {{stock.stockQtyPerTote}}</mat-card-title>
      <mat-card-title>Totes per Skid: {{stock.totesPerSkid}}</mat-card-title>
      <mat-card-title>Total per Skid: {{stock.totalStockPerSkid}}</mat-card-title>
      <mat-card-title>Current Count (Skids): {{stock.currentCount}}</mat-card-title>

      <div class="button-holders">
        <button type="button" [routerLink]="'/dashboard/stock/list'" class="submit-button">Back</button>
        <button type="submit" [routerLink]="'/dashboard/stock/edit/info/' + stockId" class="submit-button">Edit Stock</button>
      </div>
    </div>

  </div>
</app-ford-container>

