@import "src/styles.scss";

html,
body {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.3rem !important;
    min-height: 100vh;
}

.content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 4rem !important;
}
