<h1 class="page-header">Event Log</h1>
<div class="table-header">
  <div *ngIf="plants.length > 0" class="dropdown">
    <p-dropdown (onChange)="changePlant($event)" placeholder="Sort by Plant" optionLabel="plantName"
    [options]="plants" [(ngModel)]="selectedPlant"></p-dropdown>
  </div>

  <div *ngIf="departments.length > 0" class="dropdown">
      <p-dropdown (onChange)="changeDepartment($event)" placeholder="Sort by Department" optionLabel="departmentName"
      [options]="departments" [(ngModel)]="selectedDepartment"></p-dropdown>
  </div>

  <div class="dropdown">
    <p-dropdown (onChange)="changeOperation($event)" placeholder="Sort by Operation" optionLabel="operationName"
    [options]="operations" [(ngModel)]="selectedOperation"></p-dropdown>
  </div>


  <img src="/assets/ford-logo.png" />
</div>
<div class="table-holder">
  <table class="table">
    <thead>
      <th>{{modelType}}</th>
      <th>Operation</th>
      <th>User</th>
      <th>Date</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{event.itemName}}</td>
        <td>{{event.operationType}}</td>
        <td>{{event.userName}}</td>
        <td>{{event.eventDate}}</td>
        <td>
          <button type="submit" class="general-button">More Info</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="paginator-holder">
  <button (click)="backPage()" class="general-button first-button">Back</button>
  <mat-paginator (page)="pageChanged($event)" #paginator [pageSize]="pageSize"
      aria-label="Select page of periodic elements" [length]="length">
  </mat-paginator>
</div>
<p-confirmDialog #cd [style]="{width: '30vw'}">
  <ng-template pTemplate="header">
      <h3></h3>
  </ng-template>

  <ng-template pTemplate="footer">
      <button class="submit-button" type="button" label="No" (click)="cd.reject()">No</button>
      <button class="submit-button" type="button" label="Yes" (click)="cd.accept()">Yes</button>
  </ng-template>
</p-confirmDialog>

