@import "src/styles.scss";
img {
    width: 150px;
}
.table-holder {
    min-height: 70vh;
    background-color: $lightGrey !important;
    width: 100%;
    border: $border;
    text-align: center;
}
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}

mat-paginator {
    background-color: $grey !important;
    width: 50%;
    @include column-lg-break {
        order: 0;
        width: 90%;
    }
}
.mat-column-health {
    text-align: center;
}
// "productName",
// "departmentName",
// "health",
// "stockItemsLow",
// "dunnageItemsLow",
.mat-column-health,
.mat-column-productName,
.mat-column-departmentName,
.mat-column-stockItemsLow,
.mat-column-dunnageItemsLow,
.mat-column-viewForecast {
    width: 16.67%;
}
.mat-column-stockItemsLow,
.mat-column-dunnageItemsLow {
    text-align: center;
}
i {
    padding-right: 5.5px;
}
.first-button {
    @include column-lg-break {
        order: 1;
    }
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 7.5px;
}
.fa-magnifying-glass {
    padding-left: 7.5px;
    color: $darkGrey;
}
.forecast-label {
    text-align: center;
    padding: 3px 0 3px 0;
}
.forecast-label h2 {
    margin: 0;
}
.low-health {
    color: $crimson;
    background-color: $lightRed;
}
.medium-health {
    color: $mustard;
    background-color: $lightYellow;
}
.high-health {
    color: $darkGreen;
    background-color: $green;
}
